/**
 * @name 🌘 Seloris' Tweaks
 * @author Seloris (@allocazione)
 * @version 1.0.3
 * @description 🌘 A collection of tweaks for Vencord (or any other client) to enhance the Discord experience.
 * @website https://github.com/allocazione/seloris-tweaks
 * @source https://github.com/allocazione/seloris-tweaks/blob/main/css/seloris-tweaks.theme.css
 * @updateUrl https://raw.githubusercontent.com/allocazione/seloris-tweaks/main/css/seloris-tweaks.theme.css
 */


/*
* ||||||||||||||||||||||||||||||||||||||
* |          BEGIN SCRIPT              |
* ||||||||||||||||||||||||||||||||||||||
*/


/*
* ||||||||||||||||||||||||||||||||||||||
* |      Imports (External CSS)        |
* ||||||||||||||||||||||||||||||||||||||
*/


/* Change profile popouts -> See fix @ Extra styling */
@import url('https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/PopoutsRevamped.css');
/* Simplified panels area */
@import url('https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css');
/* Remove excessive clutter in Discord */
@import url('https://abbie.github.io/discord-css/import.css');


/*
* ||||||||||||||||||||||||||||||||||||||
* |        Root code (Styling)         |
* ||||||||||||||||||||||||||||||||||||||
*/


:root {
  --tag-order: 1;
  --status-enabled: true;
  --background-width: full;
  --right-gradient: false;
  --show-notes: false;
  --rolepills: true;

  --compact-input-box: true;
  --hide-gift-button: true;
  --hide-apps-button: true;
  --hide-nitro-upsells: true;
  --fix-minor-icon-misalignments: true;
  --darker-scrollbar: true;
  --hide-hover-quick-reactions: true;
}


/*
* ||||||||||||||||||||||||||||||||||||||
* |        Extra styling               |
* ||||||||||||||||||||||||||||||||||||||
*/


/* Fix for profile popouts decorations */
.root__24502.root__49fc1.small__49fc1 {
  > .profileEffects__01370 {
    opacity: 0.2 !important;
  }
}

/* Make context menu more compact */
.layer_da8173 > .menu_c1e9c4 {
    min-width: 0;
    width: 171px !important;
    .scroller_c1e9c4 {
        margin: -4px;
    }
    .separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        padding: 0px !important;
        margin: 1px;
    }
    .item_c1e9c4 {
        min-height: 0;
        padding: 4px 8px;
    }
    .icon_f563df {
        width: 18px;
    }
    .button_f563df {
        width: 36px;
        height: 36px;
        border-radius: 4px;
    }
    .icon_c1e9c4 {
        width: 18px;
        height: 18px;
    }
    .iconContainer_c1e9c4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Swap clantag and role icon */
[class^="headerText"] {
  display: inline-flex;
}

[class^="headerText"] > span:has([class^="roleIcon"]) {
  order: 2;
}

[class^="headerText"] > span:has([class^="chipletContainerInner"])  {
  order: 3;
}

[class^="headerText"] > span:is([class^="username"]) {
  order: 1;
}

[class^="headerText"] > span[style="display: none;"] {
  order: 4;
}

[class^="headerText"] > .vc-message-decorations-wrapper {
  order: 5;
}

[class^="headerText"] > span:has(> [class^="newMemberBadge"]) {
  order: 6;
}

[class^="headerText"] > span:is([class^="botTag"]) {
  order: 7;
}

/* Trim long tags */
[class*=clanTag]>span>span {
  max-width: 4em;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

/* Make chatbar more constsistent */
.channelBottomBarArea_f75fb0>div {
  margin: 5px 6px 9px 6px !important;
  min-height: 60px;
}

.channelBottomBarArea_f75fb0>div>div.scrollableContainer__74017 {
  position: absolute;
  bottom: 0;
  transform: translateY(-4px);
  width: 100%;
}

.attachWrapper__0923f>button {
  margin-left: -9px !important;
}

.stackedBars__74017 {
  margin-bottom: 55px;
}

.typing_b88801.base_b88801 {
  margin-bottom: 6px;
  margin-left: 4px;
}

.typing_b88801.base_b88801 > * {
  line-height: 10px !important;
  font-size: 10px !important;
}

.typing_b88801.base_b88801 > div > span > strong > div > svg {
  height:10px !important;
  margin-left: 3px;
  margin-top: 3px;
}

/* Compact member list */
.member__5d473 {
    height: 32px!important;
    padding: var(--space-xxs) var(--space-xs);
    margin: calc(var(--space-xxs) / 2) var(--space-xxs);
        &:hover {
        background: var(--bg-overlay-hover, var(--background-modifier-hover));
    }
}

.memberInner__5d473, .childContainer__91a9d {
    padding: 0px!important;
    display: flex!important;
    align-items: center!important;
    align-content: center!important;
    max-width: 100%;
}

.avatar__91a9d {
    scale: 0.75;
    margin-right: 4px;
}

.content__91a9d {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
}

.memberInner__5d473 {
    position: absolute;
    top: calc(0px - var(--space-xxs) / 3);
    left: var(--space-xxs);
    max-width: calc(100% - var(--space-sm));

}

.membersGroup_c8ffbb {
    padding: var(--space-xs) var(--space-xxs) var(--space-xs) var(--space-sm)!important;
}

/* Remove profile reactions */
.avatarPopover__2d0ab, .statusPopover__2d0ab, .activityPopover__2d0ab { 
  display: none;
}

/* Change collapse icon order */
.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}

/* Revert user area */
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}

/* Fix modal height */
.visual-refresh [class^="layer_"] > form > [class^="focusLock__"] {
  position: relative;
  max-height: calc(100vh - var(--space-24) * 3);
  top: calc(var(--space-24) / 2);
}

/* Fix discord height overflow */
[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}

/* Hide chatbox if unable to write in said channel */
[class*=channelTextAreaDisabled] {
    display: none!important;
}

/* View full bio */
[style="-webkit-line-clamp: 6;"] {
  -webkit-line-clamp: 10000000 !important;
  line-clamp: 10000000 !important;
}

[class*=viewFullBio] {
  display: none;
}

/* Fully hide profile effects */
[class^="profileEffects"] {
  display: none;
}

/*
* ||||||||||||||||||||||||||||||||||||||
* |          END OF SCRIPT             |
* ||||||||||||||||||||||||||||||||||||||
*/